@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    background-color: #F7F7F9 !important;
    font-family: "Raleway" !important;
}

main {
    min-height: 80vh;
}

section {
    margin: 70px 4em;
}


.container {
    margin-left: 0px !important;
}

.container-cart {
    min-width: 100%;
}
