.pacman-loader {
  margin: auto;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
  animation-name: pacman-dot;
  transform: translateX(14px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 46px solid #fff;
    border-right-color: transparent;
    top: -42px;
    left: -80px;
  }

  &,
  &::before,
  &::after {
    animation: {
      duration: 0.5s;
      timing-function: linear;
      iteration-count: infinite;
    }
  }

  &::before {
    animation-name: upper-jaw;
  }
  &::after {
    animation-name: lower-jaw;
  }
}

@keyframes pacman-dot {
  0%,
  50% {
    background-color: #fff;
  }
  51%,
  100% {
    background-color: transparent;
  }
  0%,
  100% {
    transform: translateX(19px);
  }
  50% {
    transform: translateX(14px);
  }
}

@keyframes upper-jaw {
  50% {
    transform: rotate(50deg) translate(2px, -2px);
  }
}

@keyframes lower-jaw {
  50% {
    transform: rotate(-50deg) translate(2px, 2px);
  }
}


.body-success {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  background: #6a11cb !important;
  background: -webkit-linear-gradient(to top, rgb(3, 36, 50), rgb(13, 110, 253)) !important;
  background: linear-gradient(to top, rgb(110, 110, 110), rgba(37, 117, 252, 1)) !important;
}
