.m-div-filters {
    div {
      margin: 0px 10px;
      
    }
  }
  
  .m-text {
    margin-left: 20px;
  }
  
  .btn-add-cart {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  
  .box {
    background: #ffffff;
    width: auto;
    height: 90px;
    border-radius: 8px;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 9px 33px 9px 9px;
  }
  
  .product-cart {
    margin-bottom: 10vh;
  }
  
  .a-h2-title {
    color: #000;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .descrip {
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .ptitrecart {
    color: #1a2530;
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.25;
    margin-left: 1px;
  }
  
  .pprixcart {
    color: #1a2530;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    margin-top: -8px;
  }
  
  .image {
    width: 75px;
    height: 75px;
    border-radius: 16px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 15px 0;
  }
  
  .num-block {
    float: right;
    width: auto;
    margin-inline-start: auto;
    margin-top: 10px;
    margin-right: -17px;
  }
  
  .skin-2 {
    & .num-in {
      background: #0d6efd;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      height: 18px;
      width: 60px;
      float: right;
  
      & button {
        width: 40%;
        display: block;
        height: 18px;
        float: left;
        position: relative;
  
        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: white;
          height: 2px;
          width: 6px;
          top: 49%;
          left: 58%;
          margin-top: -1px;
          margin-left: -4px;
        }
  
        &.plus:after {
          transform: rotate(90deg);
        }
      }
  
      & input {
        background-color: #0d6efd;
        color: white;
        float: left;
        width: 20%;
        height: 17px;
        border: none;
        text-align: center;
      }
    }
  }
  
  .del {
    background-color: rgb(248, 44, 44);
    color: white;
    border-radius: 5px;
    margin-top: 12px;
    height : 20px;
    width: 60px;
    text-align: center;
  }
  
  .shopping-cart-items {
    max-height: 50vh;
    overflow: scroll;
  }
  
  .social {
    a {
      color: #0d6efc !important;
    }
  
    i {
      color: #0d6efc !important;
    }
  }
  